.form{
    margin: 50px;
    text-align: center;
}

.fillOut{
    position: absolute;
    top: 30px;
    right: 200px;
}

.results{
  position: absolute;
  top: 30px;
  right: 100px;
}

.slabel{
  position: absolute;
  top: 30px;
  left: 250px;
}

.pDetails{
  position: absolute;
  top: 90px;
  left: 350px;
}


input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border-color: turquoise;
  }

input[type=date] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border-color: turquoise;
    cursor: pointer;
  }

  input[type=checkbox] {
    width: 5%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  input[type=radio] {
    
    cursor: pointer;
  }

/* CSS for table borders */
table {
    border-collapse: collapse;
    border: 2px solid turquoise; /* Blue border for the table */
    width: 65%;
    margin: auto;
    text-align: center;
}
th, td {
    border: 1px solid turquoise; /* Blue border for table cells */
    padding: 8px;
    text-align: left;
}
th {
    background-color: #555050;
}

/* CSS for submit button */
button[type="submit"] {

    background-color: turquoise; /* Blue background color for the button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 10px;

}
button[type="submit"]:hover {
    background-color: turquoise; /* Darker blue color on hover */
}

.Display{
  margin: 100px;
  text-align: center;
}

.Surveys{
  position: absolute;
  top: 30px;
  left: 300px;
}

.sResults{
  position: absolute;
  top: 80px;
  left: 640px;
}

